<!-- <mat-list>
    <h3 mat-subheader>Users</h3>
    <mat-list-item *ngFor="let user of users">
        <h4 mat-line>{{user.id}}</h4>
    </mat-list-item>
</mat-list>

<mat-list>
    <h3 mat-subheader>Groups</h3>
    <mat-icon-button>new</mat-icon-button>
    <mat-list-item *ngFor="let group of groups">
        <h4 mat-line>{{group.id}}</h4>
        <mat-icon-button>delete</mat-icon-button>
        <mat-button-toggle>citrix</mat-button-toggle>
        # TODO liste dépliable pour voir les users
    </mat-list-item>
</mat-list> -->